extends layout

block content
	h1 Login
	p Login here

	form(method="post", action="/users/login")
		.form-group
			input.form-control(name="username", type="text", placeholder="Enter your username")
		.form-group
			input.form-control(name="password", type="password", placeholder="Your Password")
		
		input.btn.btn-default(name="submit", type="submit", value="Login")